#dropdown-menu {
  display: none;

  box-sizing: border-box;
  width: 100vw;

  background-color: ghostwhite;
}

#dropdown-menu.open {
  display: block;

  margin-top: 105px;
}

.dropdown-menu-navigation-categories {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  list-style-type: none;

  box-sizing: border-box;
  width: 100%;

  padding: 20px 40px;
  margin: 0;
}

.dropdown-menu-navigation-sub-categories {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;

  list-style-type: none;

  box-sizing: border-box;
  width: 100%;

  padding: 10px 20px;
  margin: 0;
}

.dropdown-menu-navigation-categories li {
  display: inline-block;
}

.dropdown-menu-navigation-buttons {
  font-size: 22px;

  text-align: left;

  background-color: rgba(0, 0, 0, 0);

  border: none;

  padding: 0;
}

.dropdown-menu-navigation-buttons:hover {
  text-decoration: underline;

  color: rgb(8, 140, 188);

  cursor: pointer;
}

.dropdown-menu-navigation-sub-categories-container {
  position: absolute;
  top: 190px;
  left: 40px;

  background-color: ghostwhite;

  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;

  opacity: 0;
}