footer {
  box-sizing: border-box;
  width: 100vw;

  background-color: ghostwhite;

  border-top: 1px solid rgb(205, 205, 205);
}

footer hr {
  width: 100%;
  height: 1px;

  background-color: rgb(205, 205, 205);

  border: none;
}

.footer-flexbox {
  display: flex;

  flex-direction: column;
}

.footer-heading-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 40px 80px;
}

.footer-logo {
  width: 300px;
}

.footer-slogan {
  font-size: 30px;
  font-weight: 400;

  font-style: italic;

  margin: 0;
}

.footer-sitemap {
  column-count: 5;
  column-gap: 80px;
  padding: 40px 80px;
}

.footer-sitemap-heading {
  font-size: 18px;
  font-weight: 500;

  text-decoration: underline;

  margin: 0 0 15px 0;
}

.footer-sitemap ul {
  list-style-type: none;

  padding: 0;
  margin: 0 0 50px 0;
}

.footer-sitemap-links {
  display: block;

  font-size: 15px;
  font-weight: 400;

  text-decoration: none;

  color: black;

  margin: 5px 0 5px 0;
}

.footer-sitemap-links:hover {
  text-decoration: underline;

  color: rgb(8, 140, 188);
}

.footer-legal-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  text-align: center;

  padding: 40px 80px;
}

.footer-legal-copyright-disclaimer, .footer-legal-links {
  font-size: 18px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.3);
}

.footer-legal-links:hover {
  color: rgb(8, 140, 188);
}

.footer-legal-copyright-disclaimer {
  margin: 0;
}

.footer-legal-links-flexbox {
  display: flex;

  column-gap: 20px;
}

/* Media Queries */

@media (max-width: 700px) {
  .footer-heading-flexbox {
    flex-direction: column;

    justify-content: center;

    row-gap: 40px;
  }

  .footer-legal-flexbox {
    flex-direction: column;

    align-items: center;

    row-gap: 40px;
  }

  .footer-legal-links-flexbox {
    column-gap: 125px;
  }
}

@media (max-width: 1200px) {
  .footer-sitemap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .footer-sitemap {
    grid-template-columns: 1fr 1fr;

    gap: 60px;
  }
}

@media (max-width: 550px) {
  .footer-sitemap {
    grid-template-columns: 1fr;

    gap: 40px;
  }
}