header {
  box-sizing: border-box;
  width: 100vw;
}

.header-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);

  padding: 20px 40px;
}

.header-flexbox.menu-open {
  background: ghostwhite;

  border-bottom: 1px solid rgb(205, 205, 205);
}

.header-flexbox.menu-open .header-links {
  color: black;
}

.header-flexbox.menu-open .hamburger-menu div {
  background-color: rgb(8, 140, 188) !important;
}

.hamburger-menu {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  width: 65px;
  height: 50px;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu div {
  width: 100%;
  height: 6px;

  background-color: white;
}

.header-links-flexbox {
  display: flex;

  flex-direction: row;

  align-items: center;

  column-gap: 40px;
}

.header-logo {
  height: 65px;
}

.header-navigation {
  display: flex;

  column-gap: 40px;

  list-style: none;

  margin: 0;
  padding: 0;
}

.header-links {
  font-size: 24px;
  font-weight: 600;

  text-decoration: none;
  text-transform: uppercase;

  color: white;
}

/* Media Queries */

/*@media (max-width: 1024px) {
  header nav {
    display: none;
  }
}*/