#hero {
  width: 100dvw;
  height: 100vh;
}

.hero-flexbox {
  display: flex;

  flex-direction: column;

  justify-content: end;
  align-items: center;

  box-sizing: border-box;
  width: 100dvw;

  row-gap: 5%;

  position: absolute;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 5% 5% 5%;
}

.hero-heading {
  /* font-size: 40px; */
  font-size: clamp(1.8rem, 2.5vw + 1rem, 3rem);
  font-weight: 800;

  letter-spacing: 1px;
  
  text-align: center;
  text-transform: uppercase;

  color: white;

  margin: 0;
}

.hero-cta-flexbox {
  display: flex;

  flex-direction: row;

  align-items: end;

  column-gap: 10px;
}

.hero-cta-circle-outer {
  width: 150px;
  height: 150px;

  position: relative;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0);

  border-radius: 50%;
  box-sizing: border-box;
}

.hero-cta-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: rotate(-90deg);

  pointer-events: none;
}

.hero-cta-base-circle {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  pointer-events: none;
}

.hero-cta-ring-circle {
  fill: none;

  stroke: rgb(8, 140, 188);
  stroke-width: 3;
  stroke-linecap: round;

  stroke-dasharray: 301.6;
  stroke-dashoffset: 301.6;

  transition: stroke-dashoffset 1s linear;
}

.hero-cta-circle-link:hover .hero-cta-ring-circle {
  stroke-dashoffset: 0;
}

.hero-cta-circle-inner {
  width: 130px;
  height: 130px;

  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;

  background-color: white;

  border-radius: 50%;

  z-index: 1;

  transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, bottom 0.3s ease, left 0.3s ease, right 0.3s ease;
}

.hero-cta-circle-flexbox {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  position: absolute;


  padding: 35% 0 35% 0;

  z-index: 1;
}

.line {
  width: 75%;
  height: 4px;

  background-color: rgb(8, 140, 188);

  border-radius: 25px;
}

.hero-cta-circle-flexbox p {
  font-size: 30px;
  font-weight: 600;

  text-transform: uppercase;

  margin: 0;

  transition: color 1s ease;
}

.hero-cta-circle-link {
  text-decoration: none;

  color: black;
}

.hero-cta-circle-link:hover {
  color: rgb(8, 140, 188);
}

.hero-video {
  width: 100%;
  height: 100vh;

  object-fit: cover;
  object-position: center;
}

/* Key Frames */

@keyframes radar-sweep {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Media Queries */

@media (max-width: 1085px) {
  .hero-flexbox {
    padding: 0 5% 5% 5%;
  }
}

@media (max-width: 1024px) {
  .hero-flexbox {
    padding: 0 5% 25px 5%;
  }
}