#showcase {
  background-image: url(/images/showcase-background-v2.png);

  box-sizing: border-box;
  width: 100dvw;
  height: 100%;

  padding: 50px 25px;
}

.showcase-heading-flexbox-container {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.showcase-heading-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  
  box-sizing: border-box;
  max-width: 1050px;
  width: 100%;

  margin-bottom: 50px;
  padding: 0 25px;
}

.showcase-heading-flexbox p {
  font-size: 50px;
  font-weight: 700;

  color: white;

  margin: 0 0 10px 0;
}

.showcase-heading-logo {
  width: 40%;
  max-width: 400px;
}

.showcase-heading {
  font-size: 35px;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;

  color: white;

  margin: 0 0 50px 0;
}

.showcase-grid {
  display: grid;

  place-items: center;

  grid-template-columns: 1fr 1fr;

  gap: 50px;
}

.showcase-image-container {
  position: relative;

  width: 95%;
}

.showcase-image-flexbox {
  display: flex;

  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-end;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.showcase-image {
  width: 100%;
}

.showcase-subheading {
  font-size: 32px;
  font-weight: 700;

  text-transform: uppercase;

  color: white;

  margin: 0 12% 10px 0;
}

/* Media Queries */

@media (max-width: 850px) {
  .showcase-grid {
    grid-template-columns: 1fr;
  }

  .showcase-container {
    width: 85vw;
    height: calc((0.5) * 85vw);
  }
}

@media (max-width: 650px) {
  .showcase-heading-flexbox {
    flex-direction: column;
  }

  .showcase-heading-logo {
    min-width: 300px;
    width: 80%;
  }
}