#showcase {
  background-image: url(https://tomempson.github.io/ISOv8-V2/images/showcase-background-v2.png);
  /* Use actual Github link to image on repository! */

  box-sizing: border-box;
  width: 100dvw;

  padding: 50px 25px 100px 25px;
}

.showcase-heading-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: center;
  align-items: center;
  
  box-sizing: border-box;
  width: 100%;

  margin-bottom: 50px;
  padding: 0 25px;
}

.showcase-heading {
  font-size: 45px;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;

  color: black;

  margin: 0;
}

.showcase-grid {
  display: grid;

  place-items: center;

  grid-template-columns: 1fr 1fr;

  gap: 10px;
}

.left {
  margin-left: 12%;
}

.right {
  margin-right: 12%;
}

.showcase-image-container {
  position: relative;

  width: 95%;
}

.showcase-image-flexbox {
  display: flex;

  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-end;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.showcase-image {
  width: 100%;
}

.showcase-subheading {
  font-size: 32px;
  font-weight: 700;

  text-transform: uppercase;

  color: white;

  margin: 0 12% 10px 0;
}

/* Media Queries */

@media (max-width: 850px) {
  .showcase-grid {
    grid-template-columns: 1fr;
  }

  .left, .right {
    margin-left: 0;
    margin-right: 0;
  }

  .showcase-container {
    width: 85dvw;
    height: calc((0.5) * 85vw);
  }
}