#sidebar {
  display: none;

  flex-direction: column;

  box-sizing: border-box;
  width: 100dvw;
  height: 100vh;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: ghostwhite;

  opacity: 0;

  overflow-y: auto;

  z-index: 2000;

  transition: opacity 0.3s ease;
}

#sidebar.visible {
  display: flex;

  opacity: 1;
}

.sidebar-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  height: 65px;

  border-bottom: 1px solid rgb(205, 205, 205);

  padding: 20px 40px;
}

.sidebar-logo {
  height: 100%;
}

.navigation-all {
  display: flex;

  flex-direction: column;

  position: absolute;
  top: calc(105px + 20px);
  bottom: 0;
  left: 40px;
  right: 40px;

  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.sidebar-back-link {
  display: inline-block;

  font-size: 25px;
  font-weight: 600;

  text-decoration: underline;

  color: rgb(8, 140, 188);

  margin: 0;
}

.sidebar-back-link:hover {
  text-decoration: underline;

  color: rgb(8, 140, 188);

  cursor: pointer;
}

.navigation-sub-catagory {
  display: none;

  flex-direction: column;

  width: 80vw;

  position: absolute;
  top: calc(105px + 20px);
  bottom: 0;
  left: 40px;
  right: 40px;

  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.sidebar-catagory-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.sidebar-catagory-icon {
  justify-self: flex-end;
}

.sidebar-navigation-links {
  display: inline-block;

  font-size: 25px;
  font-weight: 500;

  text-decoration: none;

  color: black;

  margin: 0;
}

.sidebar-navigation-links:hover {
  text-decoration: underline;

  color: rgb(8, 140, 188);

  cursor: pointer;
}

#sidebar ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

#sidebar ul li {
  margin: 15px 0 15px 0;
}

.sidebar-close-button {
  background-color: rgba(0, 0, 0, 0);

  border: none;

  padding: 0;
}

.sidebar-close-button:hover {
  cursor: pointer;
}

.sidebar-close {
  display: flex;

  justify-content: center;
  align-items: center;

  position: relative;

  width: 65px;
  height: 50px;
}

.sidebar-close::before, .sidebar-close::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 5px;

  background-color: rgb(8, 140, 188);

  transform-origin: center;
}

.sidebar-close::before {
  transform: rotate(45deg);
}

.sidebar-close::after {
  transform: rotate(-45deg);
}

.navigation-sub-catagory > div {
  display: none;
}

.navigation-sub-catagory > .active {
  display: block;
}

.navigation-sub-catagory > .sidebar-back-link-container {
  display: block;
  margin: 15px 0;
}

/* Media Queries */

@media (max-width: 550px) {
  .sidebar-logo {
    width: 75px;
    height: 100%;
  }
}